/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

/*TEMP*/
@font-face {
  font-family: 'Poppins Light';
  src: url("fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins Regular';
  src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins Bolder';
  src: url("fonts/Poppins-ExtraBold.ttf");
}
/*---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins Regular";
  list-style: none;
}

/* Menu */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 100%;
}
.header .logo img {
  width: 200px;
}
.header .menu {
  display: block;
  width: auto;
}
.header .menu .top-menu {
  max-width: 730px;
  background-color: #F3F3F3;
}
.header .menu .top-menu li,
.header .menu .top-menu li a {
  height: 100%;
}
.header .menu .top-menu li a {
  display: block;
  position: relative;
  padding: 0 40px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #5C0F8B;
  font-size: 10pt;
  transition: .3s;
}
.header .menu .top-menu li a:hover {
  color: #F17C49;
}
.header .menu .top-menu li a.selected {
  font-weight: bolder;
  color: #F17C49;
}
.header .menu .top-menu li a.selected:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  bottom: -2px;
  left: 50%;
  transform: rotate(45deg) translateY(50%);
}
.header .menu .navigation {
  height: 60px;
  margin-bottom: 0;
}
.header .menu .navigation li {
  display: inline-block;
  height: 100%;
  transition: .3s;
}
.header .menu .navigation li a {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
  font-size: 11pt;
  color: #5C0F8B;
  transition: .3s;
}
.header .menu .navigation.pseudo-hover a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #5C0F8B;
  transition: .3s;
}
.header .menu .navigation.pseudo-hover a:hover:before {
  width: 100%;
}
.header .menu .navigation li a:hover + .submenu,
.header .menu .navigation .submenu:hover {
  display: block;
}
.header .menu .navigation .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  height: 60px;
  display: none;
  background-color: #F3F3F3;
  font-size: 10pt;
  width: 100%;
  z-index: 1000;
}
.header .menu .navigation .submenu ul {
  display: flex;
  justify-content: center;
}
.header .menu .base-menu {
  max-width: 1055px;
  width: 1055px;
}
.header .icons {
  display: flex;
  align-items: flex-end;
}
.header .icons .fa-search {
  width: 80px;
  height: 80px;
  font-size: 25px;
  text-align: center;
  line-height: 80px;
  color: #5C0F8B;
}
.header .icons .search-input {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #F3F3F3;
  transition: .3s;
  z-index: 1000;
}
.header .icons .search-input.visible {
  display: block;
  visibility: visible;
}
.header .icons .search-input input {
  width: 100%;
  padding: 2px;
  border: none;
  font-size: 12pt;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #F17C49;
}
.header .icons .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background-color: #5C0F8B;
  color: #F17C49;
}
.header .icons .user .fa-user {
  font-size: 25px;
}
/* --- */

/* Slides */
.images {
  height: 460px;
}
.images img {
  height: 460px;
}
/* --- */

/* Serviços */
.services {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: #F16223;
}
.services .service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100%;
  border-left: 2px solid #F47921;
}
.services .service:nth-child(1) {
  border: none;
}
.services .service p {
  margin: 0;
}
.services .service p a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.services .service p a:hover {
  color: #5C0F8B;
}
.services .service p a i {
  margin-right: 15px;
  font-size: 35px;
}
/* --- */

/* Área de destaque */
.highlighted h2 {
  margin-top: 30px;
  font-size: 45px;
  color: #5C0F8B;
  font-family: "Poppins Bolder";
}
.highlighted .img-card,
.highlighted .card-container {
  display: flex;
  justify-content: space-between;
}
.highlighted .img-card .card {
  width: 325px;
  border: none;
}
.highlighted .img-card .card a,
.highlighted .card-container .card .card-body a {
  display: block;
  width: fit-content;
  margin-top: 40px;
  padding: 13px 25px;
  text-decoration: none;
  color: #F16223;
  background-color: #5C0F8B;
  transition: .3s;
}
.highlighted .img-card .card a:hover {
  background-color: #5C0F8B;
}
.highlighted .card-container .card{
  width: 530px;
  height: 600px;
  border: none;
  border-radius: 0;
  transition: .3s;
}
.highlighted .card-container .card:hover {
  box-shadow: 10px 20px 20px lightgray;
}
.highlighted .card-container .card:hover .card-body a {
  color: white;
  background-color: #F16223;
}
/* --- */

/* App Unitel */
.adversiting {
  position: relative;
  width: 100%;
}
.adversiting .description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  transform: translateX(-50%);
  z-index: 1000;
}
.adversiting .description h2 {
  margin-bottom: 20px;
  font-size: 60px;
  color: #F16223;
  font-family: "Poppins Bolder";
}
.adversiting .description p {
  font-size: 16pt;
  color: white;
}
.adversiting img {
  width: 100%;
}
/* --- */

/* Footer */
.footer {
  padding-top: 40px;
  background-color: #5C0F8B;
}
.footer .footer-links {
  display: flex;
  justify-content: center;
}
.footer .footer-links ul {
  width: 230px;
}
.footer .footer-links ul li {
  color: white;
  font-size: 12pt;
  font-weight: bolder;
  margin-bottom: 5px;
}
.footer .footer-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 10pt;
  font-weight: normal;
}
.footer .footer-links .identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-links .identity .logo {
  margin-bottom: 40px;
}
.footer .footer-links .identity .social-media {
  display: flex;
  justify-content: space-between;
}
.footer .footer-links .identity .social-media i {
  font-size: 20px;
  color: #F16223;
  transition: .3s;
}
.footer .footer-links .identity .social-media i:hover {
  color: white;
}
.footer .base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #F17C49;
  font-size: 9pt;
  border-top: 1px solid rgb(102, 57, 139);
}
.footer .base .terms a {
  padding: 0 5px;
  color: #F17C49;
  text-decoration: none;
}
/* --- */

/* Extra */
.centered {
  width: 1100px;
  margin: auto;
  padding: 20px 0;
}